.container {
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
  margin-top: 100px;
  border: 1px solid blueviolet;
  padding: 50px;
  border-radius: 20px;
}

h1 {
  text-align: center;
  font-weight: 200;
  margin: 0;
  margin-bottom: 50px;
  font-size: 64px;
}

.button {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  font: inherit;

  display: inline-block;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 20px;
  transition: all 0.2s ease;

  &_default {
    border: 1px solid blueviolet;
    outline-color: blueviolet;

    &:hover {
      background-color: blueviolet;
      color: white;
      transform: translateY(-2px);
      box-shadow: 2px 2px 5px black;
    }
  }

  &_delete {
    border: 1px solid #e30b5c;
    outline-color: #e30b5c;

    &:hover {
      background-color: #e30b5c;

      box-shadow: 2px 2px 5px black;
      transform: translateY(-2px);

      color: white;
    }
  }
}
